.container {
  padding: 40px;

  border-radius: var(--border-radius-large);
  border: 2px solid var(--primary-muted);
}

.imageContainer {
  position: relative;
  width: 640px;
  height: 360px;

  margin-bottom: 52px;
}

.name {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);

  padding: 5px 40px;

  text-align: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  color: var(--text-main-color);
  background-color: var(--white-color);
  white-space: nowrap;
}

.descr {
  margin-bottom: 20px;

  text-align: center;
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary-color);
}

.list {
  display: flex;
  gap: 20px;
}

.item {
  font-size: var(--font-size-medium);
}

.item.temperament {
  display: flex;
  flex-direction: column;

  width: 270px;
}

.category {
  font-weight: var(--font-weight-medium);
}

.span {
  color: var(--text-secondary-color);
}
