.imageContainer {
  position: relative;

  width: 295px;
  height: 167px;

  margin-bottom: 50px;

  @media screen and (min-width: 1400px) {
    width: 640px;
    height: 360px;
  }
}

.container {
  padding: 20px;

  border-radius: var(--border-radius-large);
  border: 2px solid var(--primary-muted);

  @media screen and (min-width: 1400px) {
    padding: 40px;
  }
}

.name {
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translateX(-50%);

  padding: 5px 40px;

  text-align: center;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  color: var(--text-main-color);
  background-color: var(--white-color);
  white-space: nowrap;
}

.descr {
  margin-bottom: 20px;

  text-align: center;
  font-weight: var(--font-weight-medium);
  color: var(--text-secondary-color);
}

.params {
  display: flex;
  gap: 20px;
}

.item {
  font-size: var(--font-size-medium);
}

.item.temperament {
  display: flex;
  flex-direction: column;

  width: 270px;
}

.category {
  font-weight: var(--font-weight-medium);
}

.span {
  color: var(--text-secondary-color);
}
