.container {
  position: relative;

  width: 100%;
  min-height: calc(100vh - 130px);
  padding: 20px;

  background-color: var(--white-color);
  border-radius: var(--border-radius-large);

  @media screen and (min-width: 1440px) {
    width: 680px;
  }
}

.customBackground {
  background-color: var(--primary-muted);
  min-height: calc(100vh - 60px);
}
