.form {
  position: absolute;
  top: 19px;
  right: 20px;
  margin-bottom: 20px;
}

.select {
  margin-right: 10px;
  padding: 5.5px 8px;

  font-size: var(--font-size-medium);
  color: var(--text-secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  background-color: var(--background-color);
  cursor: pointer;

  transform: background-color 250ms var(--timing-function);
}

.select:hover {
  border: 2px solid var(--primary-muted);
}

.breeds {
  width: 216px;
}

.limit {
  width: 111px;
}

.button {
  width: 40px;
  height: 40px;

  background-color: var(--background-color);
  border: 2px solid var(var(--background-color));
  border-radius: var(--border-radius-small);

  transform: border 250ms var(--timing-function);
}

.button:not(:last-child) {
  margin-right: 10px;
}

.icon {
  fill: var(--text-secondary-color);
  transform: fill 250ms var(--timing-function);
}

.button:hover {
  border: 2px solid var(--primary-muted);
}

.button:hover .icon {
  fill: var(--primary);
}
