.button {
  display: none;
}

.icon {
  width: 30px;
  height: auto;

  fill: var(--primary);
}

@media (max-width: var(--desktop)) {
  .button {
    display: block;

    width: 60px;
    height: 60px;

    background-color: var(--white-color);
    border-radius: var(--border-radius-large);
  }
}
