.wrapper {
  position: relative;
}

.input {
  position: relative;

  padding: 15px 20px;

  width: 470px;
  height: 60px;

  color: var(--text-secondary-color);
  border-radius: var(--border-radius-large);
  background-color: var(--white-color);
}

.button {
  position: absolute;
  top: 10px;
  left: 420px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: var(--border-radius-small);
  background-color: var(--primary-muted);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.icon {
  fill: var(--primary);
  transition: fill 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--primary);
}

.button:hover .icon,
.button:focus .icon {
  fill: var(--white-color);
}
