:root {
  /* Colors */
  --primary: #ff868e;
  --primary-muted: #fbe0dc;
  --primary-transparent: rgba(255, 134, 142, 0.6);

  --text-main-color: #1d1d1d;
  --text-secondary-color: #8c8c8c;

  --likes-color: #97eab9;
  --likes-color-transparent: rgba(151, 234, 185, 0.6);
  --dislikes-color: #ffd280;
  --dislikes-color-transparent: rgb(255, 210, 128, 0.6);

  /* Background colors */
  --background-color: #f8f8f7;
  --white-color: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --background-voting: #b4b7ff;

  /* Border */
  --border-radius-large: 20px;
  --border-radius-small: 10px;
  --border-radius-extra-small: 5px

  /* Font */
  --font-weight-medium: 500px;

  --font-size-hero: 44px;
  --font-size-main: 20px;
  --font-size-medium: 16px;
  --font-siz-small: 12px;

  --line-height-main: 1.5;
  --line-height-small: 1.33;

  /* Transition */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  position: relative;
  justify-content: center;

  padding-top: 30px;
  padding-right: 30px;
  /* padding-left: 147px; */

  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

header {
  position: sticky;
  top: 30px;
  left: 0;

  height: calc(100vh - 30px);
  margin-right: 137px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
