.swiper.swiper-initialized.swiper-horizontal {
  position: static;

  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

  width: 110px;
  height: 30px;

  border-radius: var(--border-radius-large);
  background-color: var(--white-color);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  background-color: var(--primary);
}
