.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: var(--primary);
  border-top: 4px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  border-bottom: 4px solid var(--white-color);
  border-left: 2px solid var(--white-color);

  transition: background-color 250ms var(--timing-function);
}

.button.reuse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--white-color);
  border: none;
  border-radius: var(--border-radius-small);
  transition: background-color 250ms var(--timing-function);
}

.button.reuse:hover {
  background-color: var(--primary);
}

.button.reuse:hover .icon.reuse {
  fill: var(--white-color);
}

.icon {
  height: 30px;
  width: 30px;
}

.icon.reuse {
  height: 20px;
  width: 20px;

  fill: var(--primary);
  transition: fill 250ms var(--timing-function);
}

.fav {
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function);
}

.active .unfav {
  fill: var(--white-color);
}

.active .unfav.reuse {
  fill: var(--primary);
}

.button:hover {
  background-color: var(--primary-transparent);
}

.button:hover .fav {
  fill: var(--primary);
}
