.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;

  background-color: var(--primary);
  border-top: 4px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  border-bottom: 4px solid var(--white-color);
  border-left: 2px solid var(--white-color);

  transition: background-color 250ms var(--timing-function);
}

.favIcon {
  fill: var(--white-color);
  transition: fill 250ms var(--timing-function);
}

.active .unfavIcon {
  fill: var(--white-color);
}

.active .button {
  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary-transparent);
}

.button:hover .favIcon {
  fill: var(--primary);
}
